@font-face {
  font-family: "LG Smart";
  src:
    url("../fonts/lg_smart_bold-webfont.woff2") format("woff2"),
    url("../fonts/lg_smart_bold-webfont.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "LG Smart";
  src:
    url("../fonts/lg_smart_regular.woff2") format("woff2"),
    url("../fonts/lg_smart_regular.woff") format("woff");
  font-weight: 400;
}
